/* Reset default margins and borders on document */
html, body {
    padding:0;
    margin:0;
    font-family: 'Montserrat', sans-serif;
}

/* Type declarations */
p {
    color:#E5E7EB;
}

button {
    background-color: #3882F6;
    border-radius: 10px;
    padding:8px 32px;
    color:#E5E7EB;
    font-size:16px;
    font-weight: bold;
}

.thicc {
    padding: 3% 15%;
}

.thin {
    padding:3% 20%;
}

/* ----------------------------------------------Header Area---------------------------------------------- */
header {
    display:flex;
    justify-content: space-between;
    align-items: center;
    background-color: #1F2937;
    padding: 16px 15%;
}

.logo {
    font-size:24px;
    color:#f9f8fa;
}

ul {
    list-style-type: none;
    display:flex;
    gap:16px;
}

a {
    color:#E5E7EB;
    font-size: 18px;
    text-decoration: none;
}
/* ----------------------------------------------End Header Area---------------------------------------------- */

/* ----------------------------------------------Hero Area---------------------------------------------- */
.hero {
    display:flex;
    align-items: center;
    gap:32px;
    background-color: #1F2937;

}
/* .herohead */
h2 {
    font-size:48px;
    font-weight: bolder;
    padding:0;
    margin:0;
    color:#f9f8fa;
}

.heroleft {
    display: flex;
    flex-direction: column;
    align-items: stretch;
    width:100%;
    height:auto;
    padding:36px 36px 36px 0px;
}

.herobutton {
    align-self: flex-start;
    border:1px solid transparent;
}

.heroright {
    display: flex;
    justify-content: center;
    flex:1 1 auto;
    width:100%;
    height:auto;
    padding:36px 0px 36px 36px;
}

.heroimage {
    width: 100%;
    height:auto;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 10px;
}
/* ----------------------------------------------End Hero area---------------------------------------------- */

/* ----------------------------------------------Tile area---------------------------------------------- */
.tiles {
    background-color:#f9f8fa;
    display:flex;
    flex-direction: column;
    align-items: center;
    gap:32px;
    padding-top: 4%;
    padding-bottom:8%;
}

h3 {
    font-weight: bolder;
    font-size: 36px;
}

.tilecontainer {
    display:flex;
    justify-content: space-evenly;
    gap:32px;
}

.tileimage {
    width:100%;
    height: auto;
    border-radius: 15px;
    border:5px solid #3882F6;
}

.tiletext {
    color:black;
    text-align: center;
}



/* ----------------------------------------------End tile area---------------------------------------------- */

/* ----------------------------------------------Quote area---------------------------------------------- */
.quote {
    background-color: #E5E7EB;
    padding-top:8%;
    padding-bottom:8%;
}

.quotetext {
    font-size: 36px;
    font-weight: lighter;
    font-style: italic;
    color:black;
    text-align: justify;
}

.quotename {
    text-align: right;
    color: black;
    font-size: 24px;
    font-weight: bolder;
}


/* ----------------------------------------------End quote area---------------------------------------------- */

/* ----------------------------------------------Action (signup) area---------------------------------------------- */
.action {
    background-color: #f9f8fa;
    padding-top:5%;
    padding-bottom: 5%;
}

.actioncontainer {
    display:flex;
    justify-content: space-between;
    align-items: center;
    border-radius: 5px;
    background-color: #3882F6;
    padding: 64px 84px;
}

.actionmain {
    display:flex;
    flex-direction: column;
}

/* .actionhead */
h4 {
    font-size: 24px;
    font-weight: bolder;
    margin: 0;
    color:#f9f8fa;
}

.actiontext {
    padding:0;
    margin:0;
    color:#E5E7EB;
}

.actionbutton {
    border:1px solid white;
}
/* ----------------------------------------------End action area---------------------------------------------- */

/* ----------------------------------------------Footer---------------------------------------------- */
footer {
    display:flex;
    justify-content: center;
    align-items: center;
    background-color: #1f2937;
    color:#E5E7EB;
    padding:32px 0px;
    font-size:18px;
}
/* ----------------------------------------------End footer---------------------------------------------- */